body {
    overflow: hidden;
  }
  
  .transition-group {
    position: relative;
  }
  
  .fade-enter {
    opacity: 0;
    transform: translateX(100%) rotateZ(45deg);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateX(-50%) rotateZ(0);
    transition: all 1s ease-in;
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateX(-50%) rotateZ(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateX(-100%) rotateZ(-45deg);
    transition: all 1s ease-in;
  }