body {
    overflow: hidden;
  }
  
  .transition-group {
    position: relative;
  }
  
  .pageSlider-entering {
    opacity: 0;
    transform: scale(1.1);
  }
  
  .pageSlider-entered {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .pageSlider-exiting {
    opacity: 1;
    transform: scale(1);
  }
  
  .pageSlider-exited {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }